<form [formGroup]="form">
    <div>
        <input placeholder="Name"
               type="text"
               formControlName="name"/>
        <input placeholder="Email"
               type="text"
               formControlName="email"/>
        <input placeholder="Subject"
               type="text"
               formControlName="subject"/>
        <textarea placeholder="message"
                  formControlName="message"></textarea>
    </div>
</form>
<button type="button" (click)="sendEmail()">Send</button>