<form [formGroup]="form">
    <div class="grid">
        <input class="col-6"
               placeholder="Name"
               type="text"
               formControlName="name"/>
        <input class="col-6"
               placeholder="Email"
               type="text"
               formControlName="email"/>
        <input class="col-12"
               placeholder="Subject"
               type="text"
               formControlName="subject"/>
        <textarea class="col-12"
                  placeholder="Message"
                  formControlName="message"></textarea>
        <div class="col-12 flex justify-end m-5 p-0">
            <button class="p-5" type="button" (click)="sendEmail()"><span>Send</span></button>
        </div>
    </div>
</form>