<p>
    Hey, I'm Michael. I'm a Software Engineer at Trinity Logistics. I am 
    a full stack engineer and specialize in building web apps using MySQL,
    Java 11, Spring Boot, and Angular. I am an AWS Certified Cloud Practitioner
    and AWS Certified Developer Associate. I frequently use AWS services at work
    including: S3, RDS, Lambda, API Gateway, IAM, and EC2. In my spare time I like 
    to work on side projects using whatever technologies peak my interest. Right
    now that happens to be AWS services because I have a lot of interest in the cloud.
</p>
<p>
    I love to travel, especially for food. If I had to pick a favorite dish
    from all the food I've tried, it'd be a tie between Japanese soup curry and Thai
    Khao Soi. I have been to 12 countries most of them being in Asia, but a few in 
    Europe. I hope to grow that number until I've visited everywhere on my bucket 
    list (it's at 30 so far!). 
</p>
