<ul>
    <li>Email: <a href="mailto:mikearcherdev@proton.me">mikearcherdev&#64;proton.me</a></li>
    <li>Phone: (512) 599-2908</li>
</ul>

<h2>PROFESSIONAL EXPERIENCE</h2>
<h3>Trinity Logistics, Seaford DE</h3>
<h4>Software Engineer II (Remote)</h4>
<ul>
    <li>
        June 2023 - Present
        <ul>
            <li>Created Trinity’s Transportation Management System with a team of 7 developers using Java 11 and Angular 13.</li>
            <li>Independently rebuilt Trinity's EDI ordering system migrating it away from the legacy Quantum Edge app and into the new Transportation Management System.</li>
            <li>Developed an automated carrier-shipment matching system that integrated with an API built using OutSystems.</li>
            <li>Took ownership of, developed, and maintained Trinity's Real time Rating service, using Terraform to manage the serverless infrastructure (AWS Lambda, API Gateway, RDS, SNS).</li>
        </ul>
    </li>
</ul>

<h4>Software Engineer (Remote)</h4>
<ul>
    <li>
        June 2022 - May 2023
        <ul>
            <li>Built a common document utility that was used to store and retrieve documents on an AWS S3 bucket, deprecating storage on the filesystem.</li>
            <li>Created a reusable dialog service for creation of dialogs used throughout the app, deprecating the use of hardcoding dialogs within templates.</li>
            <li>Located and remediated 3 security issues caused by missing validation on requests and the ability to circumvent role checks.</li>
            <li>Facilitated deeper discussions during Agile ceremonies such as daily standups, sprint planning, and retrospectives.</li>
            <li>Collaborated with stakeholders and business analysts to proactively identify risks and dependencies of projects.</li>
            <li>Identified, created, and resolved 117 bug tickets.</li>
        </ul>
    </li>
</ul>

<h2>EDUCATION</h2>
<ul>
    <li>
        <strong>Austin Community College</strong>
        <ul>
            <li>Associate of Applied Science - Web Development</li>
            <li>Location: Austin, Texas</li>
            <li>Duration: January 2019 - May 2020</li>
        </ul>
    </li>
</ul>

<h2>SKILLS</h2>
<ul>
    <li>Certifications: AWS Cloud Practition, AWS Developer Associate</li>
    <li>Languages: Java, TypeScript, Python, MySQL, HTML, SCSS</li>
    <li>Frameworks: Spring, Angular</li>
    <li>Tools: Docker, Git, Terraform, AWS, Atlassian Suite, Datadog</li>
</ul>